<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" *ngIf="!isSmall">
    <li data-target="#carouselExampleIndicators" *ngFor="let item of currentlyPlaying;let key=index" [attr.data-slide-to]='key'></li>
  </ol>
  <div class="carousel-inner" >
    <div class="carousel-item posterItem" *ngFor="let item of currentlyPlaying;let key=index" [ngClass]="{'active':key==0,'smallPic':!isSmall}">
      <a [href]="'watch/movie/'+item['id']">
        <img [src]= "item.backdrop_path"  class="d-block w-100" alt="...">
        <div class="mediaTitle" [ngStyle]="{'opacity': isSmall?1:null}">
          <span class="titleText" >{{item.title}}</span>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>