<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" *ngFor="let item of currentlyPlaying;let key=index" [attr.data-slide-to]='key'></li>
  </ol>
  <div class="carousel-inner" style="overflow: hidden;height: 300px;">
    <div class="carousel-item" *ngFor="let item of currentlyPlaying;let key=index" [ngClass]="{'active':key==0}">
      <img [src]= "item.backdrop_path" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>