.detailTitle{
    font-size: 34px;
    color: white;
}
.tagline{
    font-style: italic;
    font-size: 18px;
    margin-bottom: 5px;
}
.basic ,.desc{
    color: #c8c4c9;
}
#year_rate_time{
    font-size: 20px;
    margin-bottom: 10px;
}
.halfTitle{
    color: white;
}
.addBtn{
    margin-top: 20px;
    margin-bottom:20px;
}


.desc{
    padding-left: 20px;

}
.descTitle,.shareTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
}
.share{
    margin-top: 20px;
}
#tw{
    font-size: 24px;
}
#fb{
    font-size: 24px;
    color: #1800ff;
}

.subTitle{
    font-size: 34px;
    color: white;
}

.card{
    margin-right: 10px;
    border-width: 0px;
    border-radius: 12px;
    cursor: pointer;

}

/* .card:hover{
    
} */
.card-img-top{
    border-top-left-radius:12px;
    border-top-right-radius: 12px;
}
.card-body{
   padding-bottom: 4px;
}


i{
    margin-right: 10px;
    cursor: pointer;
}

.tooltip-inner{
    color: black;
    border: thin solid gray;
    background-color: white;
}


/* .modal-dialog {
  z-index:999;
  overflow: auto;
  overflow-y: auto;
  } */
/* ::-webkit-scrollbar{
    background-color:white;


} */
/*
::webkit-scrollbar-thumb{
    background-color:black;
} */

/* .castContainer{
    overflow-x: auto; 
  
    white-space: nowrap;
    padding-left: 4px;

} */
/* ::-webkit-scrollbar
{
   margin-top: 20px; 

} */


.rev{
    margin-top:20px ;
}
.ele{
    background: #ffffff;
    /* height: 200px; */
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding-bottom: 10px;
    padding-right: 30px;
    margin-right: 15px;
}

.revEle{
    margin-top: 20px;
}
.eleLeft{
    float: left;
}
.eleRight{
    float: right;
}
.eleLeft img{   
    width: 60px;
    border-radius:50%;
    margin-top: 15px;
}
.eleTitleRate{
    margin-top: 15px;
    margin-bottom:24px ;
    font-size: 20px;
    color: black;
    word-wrap:break-word;
    /* word-wrap: break-all;
	word-break: normal;
	overflow: hidden; */
}
.eleRate{
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 16px;
}
.eleAuthor{
    color: grey;
}
.eleContent{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #1c0429;
}

