<div class="container">
 
    <div class="row">
        <div class="col-lg-8">
            <youtube-player
                videoId="Vu4UPet8Nyc"
                suggestedQuality="highres"
                [height]="videoHeight"
                [width]="videoWidth"
                [startSeconds]="43"
                [endSeconds]="60">
            </youtube-player>
        </div>
        <div class="col-lg-4">
            <div>
                <span class="d_title"> item.name </span>
            </div>
            <div>??? </div>
            <div id="year_rate_time">
                <span id="year"> item.year  |</span>
                <span id="rate">&#9733; item.vote_average </span>
                <span id="time"> |&nbsp item.genres </span>
            </div>
            <div>
               Genres: sdfsdlfsdlk,dsfsdf
            </div>
            <div>Spoken languages: item.spoken_languages</div>
            <button>Add to Watchlist</button>
            <div></div>
        </div>

      
    </div>
    <div >
        <div >Description</div>
        <div> sfsdfdsafs cvds sdfasdfsd sdfdsfs </div>

        <div >Share</div>
        <div class="share">
            <span>twtter</span>
            <span>facebook</span>
        </div>
    </div>
    <div class="row">
        <div></div>
    </div>


</div>