
<div >
<div [id]="idx" class="carousel slide" data-ride="carousel" *ngIf="smList.length>0">
    <ol class="carousel-indicators" *ngIf="!isSmall">
        <li [attr.data-target]="'#'+idx" *ngFor="let item of bigList;let key=index" [attr.data-slide-to]='key'></li>
    </ol>
    <div class="carousel-inner" *ngIf="isSmall" style="text-align: center;">
        <div class="carousel-item sm-item" *ngFor="let item of smList; let key = index" [ngClass]="{'active':key==0}" >
            <a [href]="'/watch/'+item.media_type+'/'+item.id">
            <img  [src]="item.poster_path" class="small_poster">
            <div class="sm-mediaTitle">
                <span class="titleText" >{{item.title}}</span>
            </div>
            </a>
        </div>
    </div>

    <div class="carousel-inner" *ngIf="!isSmall">
        <div class="carousel-item" *ngFor="let lists of bigList; let key = index" [ngClass]="{'active':key==0}">
                <div class="row" style="text-align:center;" >
                    <div class="col-md-2" *ngFor="let item of lists">
                        <a [href]="'/watch/'+item.media_type+'/'+item.id">
                            <img [src]="item.poster_path" class="bigPoster">
                        
                        <div class="mediaTitle">
                            <span class="titleText" >{{item.title}}</span>
                        </div>
                        </a>
                    </div> 
                </div>
        </div>
    </div>
    <a class="prev" [href]="'#'+idx" role="button" data-slide="prev"
    [ngStyle]="{'left': isSmall?'-10px':'-30px'}">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="next" [href]="'#'+idx" role="button" data-slide="next"
    [ngStyle]="{'right': isSmall?'-10px':'-30px'}">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
</div>