/* .carousel-item{
    height: 100px;
    width: 50px;
} */

.small_poster{
    width:54%;
}
.carousel-inner{
    text-align: center;
}

img{
    width: 124px;
}

.subTitle{
    color: white;
    font-size: 18px;
    float:left;
}

.col-md-2{
    margin-bottom: 2em;
}
.col-md-2:hover .hiddenCap{
    opacity: 1;
}

.col-md-2:hover  {
    transform: scale(1.1);
}
.col-md-2:hover .carousel-inner {
    height: 200%;
    transform: scale(2);
}

.next,.prev{  
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    text-align: center;
}
.next{
    right: -30px;
}
.prev{
    left: -30px;
}
