input{
    background-color: #000c21;
    border: 0px;
    border-bottom:2px solid white;
    color: white;
    margin-right: 60px;
    width: 200px;
}
.current{
    color: white;
}


/* for search result panel */
.searchImg{
    width: 68px;
    margin-right: 5px;
}

.dropdown-item{
    padding: 3px 8px;
    color: white;
}
.dropdown-menu{
    background-color: #050932;
    border: solid 1px white;
    left: 68px;
    width: 270px;
    overflow: hidden;
}
