.notFound{
    text-align: center;
    color: white;
    font-size: 36px;
    height: 440px;
    margin-top: 30px;
}
.mytitle{
    color:white;
    font-size: 36px;
    margin-bottom: 40px;

}

.container{
    margin-top: 30px;
    margin-bottom: 100px;
}


.bigPoster{
    width: 100%;
}
.smposter{
    width: 54%;
}

.col-md-2{   /* for scale in height*/
    margin-top: 18px;
    margin-bottom:18px;
}
.col-md-2:hover  {
    transform: scale(1.1);
}


.col-md-2:hover .mediaTitle{
    opacity: 1;
}

.mediaTitle{
    opacity: 0;
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 100px;
    z-index: 999;
    color: white;
    font-size: 16px;
    background: linear-gradient(0deg, rgba(1,1,1,1) 50%, rgba(255,255,255,0) 75%); 
}
.smTitle{
    opacity:1;
    width:54%;
    left: 23%;

}

.titleText{
    position: absolute;
    bottom: 10px;
    left: 15px;
}